.master-container {
  position: relative;
  .grid-scrollbar {
    position: relative;
    height: 87vh;
    overflow: auto;
    margin: 0 30px;
    background-color: #e9ecef;
    border-radius: 5px;
    .tiles-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        margin: 10px;
        width: 20%;
        cursor: pointer;
        img {
          width: 100%;
        }
        .footer {
          display: block;
          text-align: center;
        }
      }
      .card:hover {
        opacity: 0.6;
      }
    }
  }
  .wrapper-scroll-y {
    display: block;
  }
}
