<div class="master-detail-container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading container-header">
      <h3 class="text-info">Pokemon Directory</h3>
      <span>Know stats and abilities of all existing pokemons</span>
    </div>
    <div class="master-detail-container">
        <div class="master">
          <app-master></app-master>
        </div>
        <div class="detail">
          <app-detail></app-detail>
        </div>
    </div>
  </div>
</div>
